<mat-card class="w-50 mx-auto">
  <form class="example-form" #ProductsForm="ngForm" (ngSubmit)="onSubmit(ProductsForm)">
    <mat-form-field class="example-full-width" [hidden]="true">
      <input matInput name="_id" #_id="ngModel" [(ngModel)]="productService.selectedProduct._id" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput name="name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name" required />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput name="position" #position="ngModel" [(ngModel)]="productService.selectedProduct.description"
        required />
    </mat-form-field>
    <br>
    
      <select name="category" [(ngModel)]="selectedCategoryForProduct">
        <option selected>select category</option>
        <option *ngFor="let category of allCategoryList" [value]="category._id">
          {{category.name}}          
        </option>
      </select>
   

    <br />
    <button mat-raised-button color="primary" [disabled]="!ProductsForm.valid">
      Submit
    </button>
  </form>
</mat-card>

<mat-accordion multi="true" *ngIf="productService?.products.length > 0">
  <mat-expansion-panel *ngFor="let Products of productService?.products">
    <mat-expansion-panel-header>
      {{ Products.name }}
    </mat-expansion-panel-header>
    <p>{{ Products.description }}</p>
    <mat-action-row>
      <button mat-button color="primary" (click)="onUpdate(Products)">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(Products._id,ProductsForm)"> DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="productService?.products.length <= 0">No posts added yet!</p>   

<!-- {{allCategoryList}} -->